<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>SelectSQLServlet</display-name>
    <servlet-name>SelectSQLServlet</servlet-name>
    <servlet-class>com.simplilearn.workshop.SelectSQLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSQLServlet</servlet-name>
    <url-pattern>/SelectSQLServlet</url-pattern>
  </servlet-mapping>
  <display-name>jdbc-application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertSqlServlet</display-name>
    <servlet-name>InsertSqlServlet</servlet-name>
    <servlet-class>com.simplilearn.workshop.InsertSqlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSqlServlet</servlet-name>
    <url-pattern>/InsertSqlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DDLOperationsServlet</display-name>
    <servlet-name>DDLOperationsServlet</servlet-name>
    <servlet-class>com.simplilearn.workshop.DDLOperationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DDLOperationsServlet</servlet-name>
    <url-pattern>/DDLOperationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoredProcedure</display-name>
    <servlet-name>StoredProcedure</servlet-name>
    <servlet-class>com.simplilearn.workshop.StoredProcedure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoredProcedure</servlet-name>
    <url-pattern>/StoredProcedure</url-pattern>
  </servlet-mapping>
</web-app>